/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: 'Rubik', sans-serif;
  --ff-pixel: 'Share Tech Mono', monospace;

  --white: #eeeeee;
  --dark-blue: #1b244a;
  --red: #f94f6d;
  --black: #080001;
  --gray: #9aabd8;
}

.root {
  display: grid;
  place-content: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--dark-blue);

  font-family: var(--ff-heading);
}

/* MAIN */

main {
  display: flex;
  gap: 10rem;

  font-family: var(--ff-pixel);
  text-align: center;
}

main .left-side,
main .right-side {
  animation: TopBottom 600ms forwards;
}

main h2 {
  margin-bottom: 2.1rem;

  font-size: 4rem;
  font-family: var(--ff-heading);
  text-transform: uppercase;

  color: var(--white);
}

main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.6rem;
}

main .score {
  background-color: var(--black);

  padding: clamp(1.25rem, 1rem + 2vw, 2.6rem) 5.4rem;

  border-radius: 0.5rem;
}

main .score h2 {
  margin: 0;

  font-size: clamp(6rem, 2rem + 8vw, 8rem);

  color: var(--red);
}

main .options {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

main .options button {
  background: none;

  padding: 1.2rem 1rem;

  border: var(--gray) 2px solid;
  border-radius: 0.5rem;

  font-size: 1.8rem;
  font-weight: 700;

  color: var(--gray);
  cursor: pointer;

  transition: 300ms;
}

main .options button:hover {
  background: var(--gray);

  transform: translateY(-5px);

  color: var(--dark-blue);
}

main button.reset {
  background: var(--gray);

  padding: 1rem;

  border: none;
  border-radius: 0.5rem;

  position: absolute;
  left: 50%;
  bottom: 10rem;

  transform: translateX(-50%) translateY(0);

  transition: 300ms;

  cursor: pointer;
}

main button.reset:hover {
  background: var(--red);

  transform: translateX(-50%) translateY(-5px);
}

main button.reset:hover svg path {
  stroke: var(--white);
}

main button.reset svg {
  width: 2.4rem;
}

main button.reset svg path {
  stroke: var(--black);

  transition: 300ms;
}

@keyframes TopBottom {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bottomTop {
  from {
    transform: translateX(50%) translateY(20%);
  }
  to {
    transform: translateX(50%) translateY(0);
  }
}

@media screen and (max-width: 482px) {
  main {
    flex-direction: column;
    gap: 2.5rem;
  }

  main .left-side {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--gray);
  }

  main .right-side {
    animation-delay: 200ms;
    opacity: 0;
  }

  main button.reset {
    bottom: 50%;
    left: min(1.35rem, 10%);

    transform: translateY(50%);
  }

  main button.reset:hover {
    background: var(--red);

    transform: none !important;
  }
}

@media screen and (min-width: 386px) and (max-width: 482px) {
  main button.reset {
    left: 6%;
  }
}
